.venues .body{
    padding: 20px;
}
.venues h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
.venues ul {
    padding: 0;
}

.venues li {
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: var(--ion-color-secondary);
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.venues li *{
    color: var(--ion-color-secondary);
}

.venues li:hover,
.venues li:hover *{
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary);
}
