.venues .body{
    padding: 20px;
}
.venues ul {
    padding: 0;
}

.venues li {
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #e1eaea;
}

.venues li *{
    color: #e1eaea;
}
