.venue .body{
    padding: 20px;
}

.ratings{
    padding: 0 0 60px;
}

.rating{
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    color: #e1eaea;
    font-size: 20px;
    padding: 0 10px;
    flex-wrap: wrap;
    align-items: center;
}

.date{
    flex-grow: 1;
    text-align: left;
}

.score {
    width: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.show-rating-btn{
    color: var(--ion-color-secondary);
}
.rating-info-wrapper{
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary);
}
.rating-info {
}

.rating-info-item{
    display: flex;
    justify-content: space-around;
}
