ul{
    padding: 0;
}
li{
    list-style: none;
}

.icon-btn{
    border: none;
    padding: 0;
    background: transparent;
    line-height: 0;
    min-height: 44px;
    min-width: 44px;
}

.icon-btn:focus{
    outline: var(--ion-color-secondary) auto 1px;
}
